@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Karla:wght@800&display=swap");
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.container {
  margin-top: 7%;
}

h1 {
  font-family: "Karla", sans-serif;
  color: #ffffff;
  font-size: 3.5rem;
  line-height: 3.5rem;
  letter-spacing: 2px;
}

h1 span {
  display: block;
  color: #4adf86;
}

p {
  color: #d5d4d8;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 2rem;
  font-size: 2.25rem;
}

input[type="range"] {
  width: 90%;
}

/* input[type="range"] {
  width: 90%;
  -webkit-appearance: none;
  background-color: #ffffff;
  border-radius: 20px;
  outline: none;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}

input[type="range"] ::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 90%;
  border-radius: 50%;
  background-color: #10b981;
  cursor: pointer;
  border: 4px solid #273549;
  box-shadow: -407px 0 0 400px #10b981;
} */

output {
  font-size: 2rem;
  color: #10b981;
}

.btn {
  background: #10b981;
  width: 16rem;
  height: 3rem;
  border-radius: 6px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #ffffff;
  border: none;
  margin: 1.5625rem 0;
  box-shadow: 0 0.3rem rgb(121 121 121 / 65%);
  border-style: inset;
}

.btn:hover {
  cursor: pointer;
  filter: brightness(110%);
}

.btn:active {
  border-style: outset;
}

.hr {
  background: #2f3e53;
  width: 100%;
  height: 0.125rem;
}

.password-div {
  width: 40rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5625rem;
}

.password-box {
  background: #273549;
  height: 4rem;
  width: 19rem;
  border-radius: 6px;
  text-align: center;
}

.password {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: #55f991;
  line-height: 1.5rem;
  display: inline-block;
  width: 12rem;
}

.fa-copy {
  margin-left: 1.25rem;
  color: #ffffff;
  cursor: pointer;
}

@media (max-width: 720px) {
  .container {
    margin-top: 15%;
    margin-left: 4%;
    margin-right: 4%;
  }

  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  p {
    font-size: 2rem;
  }

  input[type="range"] {
    width: 80%;
  }

  output {
    font-size: 2rem;
    color: #10b981;
  }

  .password-div {
    width: 100%;
  }

  .password-box {
    height: 4rem;
    width: 48%;
  }

  .password {
    font-size: 1.5rem;
    width: 60%;
  }

  .password-div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .password-box {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .container {
    margin-top: 15%;
  }

  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  p {
    font-size: 1.5rem;
  }
}
